* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100%;
    font-family: 'Verdana', sans-serif;
}

.body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    display: flex; 
    padding: 1em 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    width: 1280px;
}

.nav-brand {
    font-size: 1.5rem;
    color: #335576;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.5em 0;
    font-family: 'Verdana', sans-serif;
}
.nav-link-active {
    display: flex;
    align-items: center;
    font-family: 'Verdana', sans-serif;
    color: black;
    text-decoration: underline;
    text-decoration-line: 5px;
    text-decoration-color: #DB7A4E;
    text-underline-offset: 5px;
    display: inline-block;
}
.banner {
    position: relative;
    height: 100vh;
    background-image: url('/Users/SharonJacob/brainstation/codebase/TravelSite-Package/2.0 - Assets/Images/hawaii.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place {
    display: flex;
    margin-bottom: 500px; 
    color: white;
    font-size: 5rem;
    font-family: 'Verdana', sans-serif;
}

.itinerary {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -10px;
    font-family: 'Verdana', sans-serif;
}

.day {
    background-color: white;
    width: 300px;
    margin: 0 10px; /* Adds space between cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
    transform: translateY(40%); 
    font-family: 'Verdana', sans-serif;
}

.day h2 {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

.main {
    text-align: center;
}

.main h1 {
    color: #335576;
    margin-bottom: 50px;
}

.itinerary {
    display: flex;
    justify-content: center;
}

.day {
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px; /* Adjust as necessary */
}

.footer {
    background-color: #ffffff;
    color: #335576;
    padding: 2.5em 10em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    background-color: #FEFAF5;
  }
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Verdana', sans-serif;
}

.footer-heading {
    color: #335576;
    margin-bottom: 20px;
    font-family: 'Verdana', sans-serif;
}

.footer-text {
    margin-bottom: 10px;
    color: #DB7A4E;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-family: 'Verdana', sans-serif
}

.notitle {
    margin-bottom: 13px;
    margin-top: 40px;
    color: #D16002;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-family: 'Verdana', sans-serif
}
    
.footer-bottom {
    color: #335576;
    margin-bottom: 5px;
    font-family: 'Verdana', sans-serif
}
.social-icons {
    margin: 15px 0px;
  }
  
  .social-icons {
    margin: 15px 1px;
    align-items: center;
  }

.social-link img {
    margin-top: 20px;
    width: 18px;
    height: 21px;
  }